#loading-div{
    display: none;
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#FFFFFF;
    background-image:url('spinner.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.5;
}